
<div class="container " >
    <div fxLayout="column"  fxLayoutAlign="center stretch">
        
        <div fxLayout="row"  fxLayoutAlign="center">
            <div fxFlex="70" >

                <mat-card class= "app-card" routerLink="/contract/info"> 

                <div class ="card-edit">
                    <mat-icon > add_circle </mat-icon>
                    <span > &nbsp; {{"newcontract" | translate}}</span>
          </div>
        </mat-card>
      </div>
    </div>

        <div fxLayout="row" class="column-home" fxLayoutGap="2rem"> 

                <mat-card class= "app-card col1 " routerLink="/contract/all-contracts"> 

                
                    <span >
                        {{"all-contracts" | translate}}
                    </span>

                </mat-card>




                <mat-card class= "app-card col2" routerLink="/contractor"> 
                    
                  
                      <span >{{"contractors" | translate}}</span>
                    
                  </mat-card>
            </div>

        
                
              </div>
            </div>



            


